/*
  Exclusive for LZT Upgrade
  Socials:
    - Telegram (https://t.me/lzt_upgrade)
    - Github (https://github.com/lzt-upgrade)
  Authors:
    - Toil (https://lolz.live/toil/)
*/

@use "../lzt-prefix-mini/prefix-redesign-mini.user.scss";

:root {
  // prefixes
  --prefix-general-color: 206, 206, 206;
  --prefix-market-color: 50, 157, 109;
  --prefix-nomarket-color: 204, 83, 83;
  --prefix-important-color: 255, 79, 79;
  --prefix-buy-color: 193, 108, 155;
  --prefix-massbuy-color: 213, 133, 63;
  --prefix-sell-color: 86, 151, 183;
  --prefix-shop-color: 107, 170, 91;
  --prefix-exchange-color: 166, 111, 111;
  --prefix-socks4-color: 149, 195, 219;
  --prefix-royalblue-color: 93, 128, 230;
  --prefix-yellow-color: 193, 193, 39;
  --prefix-vk-color: 83, 150, 225;
  --prefix-steam-color: 124, 149, 191;
  --prefix-origin-color: 185, 137, 75;
  --prefix-uplay-color: 54, 157, 189;
  --prefix-checked-color: 37, 183, 116;
  --prefix-newbie-color: 179, 107, 107;
  --prefix-junior-color: 102, 178, 202;
  --prefix-middle-color: 63, 140, 208;
  --prefix-senior-color: 156, 112, 219;
  --prefix-studio-color: 71, 163, 135;
  --prefix-painter-color: 179, 82, 160;
  --prefix-loginpass-color: 148, 114, 185;
  --prefix-numberpass-color: 98, 145, 168;
  --prefix-authorthread-color: 153, 100, 130;
  --prefix-hash-color: 183, 91, 47;
  --prefix-usa-color: 166, 79, 99;
  --prefix-dump-color: 173, 81, 81;
  // games
  --prefix-tournament-color: 62, 145, 106;
  --prefix-gameupdate-color: 117, 164, 204;
  // contests
  --prefix-fastcontest-color: 162, 94, 234;
  --prefix-ultrafastcontest-color: 229, 217, 163;
  // utils
  --prefix-bg-opacity: 0.1;
  --prefix-border-radius: 4px;
}

@mixin svg-icon {
  content: "";
  width: 1em;
  height: 1em;
  align-self: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 0.25rem;
}

// ticket badges
// .statusTag {
//   background: rgba(var(--ticket-closed-color), 0.1) !important;
//   color: rgb(var(--ticket-closed-color)) !important;
//   border-color: rgb(var(--ticket-closed-color)) !important;
// }

// labels
// .chat-curator-label {
//   background: rgba(var(--label-curator-color), 0.1) !important;
//   color: rgb(var(--label-curator-color)) !important;
//   &:before {
//     content: "\f0e7"; // bolt
//     font-family: "Font Awesome 5 Pro";
//     font-weight: 400 !important;
//     margin-right: 0.25rem;
//   }
// }

// .owner_conservation_ls {
//   background: rgba(var(--label-owner-conservation-color), 0.1) !important;
//   color: rgb(var(--label-owner-conservation-color)) !important;
//   &:before {
//     content: "\f521";
//     font-family: "Font Awesome 5 Pro";
//     font-weight: 400 !important;
//     margin-right: 0.25rem;
//   }
// }

// .as--class {
//   display: inline-flex;
//   &.author {
//     background: rgba(
//       var(--label-author-color),
//       var(--label-bg-opacity)
//     ) !important;
//     color: rgb(var(--label-author-color)) !important;
//     &:not(.Tooltip) {
//       padding-left: 0.5em;
//       padding-right: 0.65em;
//       &:before {
//         @include svg-icon;
//         // fill in color ( ri:quill-pen-fill)
//         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(206, 206, 206)' d='M21 1.997c-15 0-17 14-18 20h1.998q.999-5 5.002-5.5c4-.5 7-4 8-7l-1.5-1l1-1c1-1 2.004-2.5 3.5-5.5'/%3E%3C/svg%3E");
//       }
//     }

//     &.Tooltip:before {
//       @include svg-icon;
//       // fill in color ( ri:robot-2-fill)
//       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(206, 206, 206)' d='M13.5 2c0 .444-.193.843-.5 1.118V5h5a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V8a3 3 0 0 1 3-3h5V3.118A1.5 1.5 0 1 1 13.5 2M0 10h2v6H0zm24 0h-2v6h2zM9 14.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3m7.5-1.5a1.5 1.5 0 1 0-3 0a1.5 1.5 0 0 0 3 0'/%3E%3C/svg%3E");
//     }
//   }

//   &.responder {
//     background: rgba(
//       var(--label-responder-color),
//       var(--label-bg-opacity)
//     ) !important;
//     color: rgb(var(--label-responder-color)) !important;
//     &:before {
//       @include svg-icon;
//       // fill in color ( solar:masks-bold)
//       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(255, 79, 79)' d='m21.537 9.136l-.846 3.297c-.43 1.676-1.306 2.855-2.336 3.685c.219-1.144.214-2.418-.144-3.814l-.864-3.37l-.15-.584a.9.9 0 0 1 .599-.044c.378.101.608.406.637.702a.75.75 0 1 0 1.493-.145c-.091-.942-.783-1.749-1.742-2.006a2.4 2.4 0 0 0-1.418.05l-.017-.044c-.224-.596-.552-1.229-1.171-1.693a3.5 3.5 0 0 0-1.13-.562c-.759-.215-1.463-.076-2.064.124c-.558.185-1.21.49-1.924.825l-.072.034c-1.185.555-1.659.773-2.144.928q-.22.07-.446.127l.327-1.267c.44-1.719.661-2.578 1.236-3.01c.193-.145.41-.252.638-.317c.684-.194 1.461.17 3.015.897c1.15.54 1.726.809 2.326 1q.314.099.632.176c.612.149 1.239.216 2.493.351c1.694.182 2.54.273 3.04.798c.167.177.303.383.4.609c.292.675.072 1.534-.368 3.253'/%3E%3Cpath fill='rgb(255, 79, 79)' fill-rule='evenodd' d='m16.758 12.677l-.845-3.298c-.44-1.719-.66-2.578-1.236-3.01a2 2 0 0 0-.638-.317c-.684-.194-1.46.17-3.015.897c-1.15.54-1.726.809-2.326 1a10 10 0 0 1-.632.176c-.611.149-1.238.216-2.493.351c-1.694.182-2.54.273-3.04.798a2.1 2.1 0 0 0-.4.609c-.292.675-.072 1.534.369 3.253l.845 3.297c.993 3.876 4.296 5.096 6.516 5.473c.677.115 1.016.172 2.044-.116s1.294-.514 1.825-.968c1.742-1.487 4.02-4.27 3.026-8.145m-10.753.691c.029-.296.26-.6.638-.702c.379-.102.73.047.903.29a.75.75 0 0 0 1.22-.873c-.55-.77-1.552-1.123-2.511-.866s-1.651 1.064-1.743 2.006a.75.75 0 0 0 1.493.145m5.796-1.553c.029-.296.26-.6.638-.702c.379-.102.73.047.903.289a.75.75 0 1 0 1.22-.872c-.55-.77-1.552-1.123-2.511-.866s-1.651 1.063-1.743 2.006a.75.75 0 0 0 1.493.145m1.846 3.814a.75.75 0 0 1-.885 1.211l-.01-.006a2 2 0 0 0-.485-.2c-.36-.098-.929-.163-1.685.04c-.756.202-1.216.543-1.48.808a2 2 0 0 0-.32.416l-.005.01a.75.75 0 0 1-1.372-.607l.688.298c-.688-.298-.687-.3-.687-.3v-.001l.002-.004l.004-.009l.01-.022l.033-.064q.04-.078.115-.196c.1-.156.252-.36.468-.578c.437-.44 1.125-.924 2.156-1.2c1.031-.277 1.87-.2 2.467-.038c.296.08.53.18.694.266a3 3 0 0 1 .258.151l.02.015l.008.005l.003.003h.002z' clip-rule='evenodd'/%3E%3C/svg%3E");
//     }
//   }
// }

// // uniq badges
// .badge {
//   font-weight: 600;
//   &:before {
//     font-family: "Font Awesome 5 Pro";
//     font-weight: 400 !important;
//     margin-right: 0.25rem;
//   }

//   &.test {
//     background: rgba(
//       var(--badge-test-color),
//       var(--badge-bg-opacity)
//     ) !important;
//     color: rgb(var(--badge-test-color)) !important;
//     &:before {
//       content: "\f6e1"; // flask-potion
//     }
//   }

//   &.moderated {
//     background: rgba(
//       var(--badge-moderated-color),
//       var(--badge-bg-opacity)
//     ) !important;
//     color: rgb(var(--badge-moderated-color)) !important;
//     &:before {
//       content: "\f0e7"; // bolt
//     }
//   }

//   &.declined {
//     background: rgba(
//       var(--badge-declined-color),
//       var(--badge-bg-opacity)
//     ) !important;
//     color: rgb(var(--badge-declined-color)) !important;
//     &:before {
//       content: "\f0e3"; // gavel
//     }
//   }

//   &.draft {
//     background: rgba(var(--badge-draft-color), 0.1) !important;
//     color: rgb(var(--badge-draft-color)) !important;
//     &:before {
//       content: "\f568"; // drafting-compass
//     }
//   }
// }

// // redesign tags
// .tagList .tag {
//   background: transparent;
//   border: 1px solid rgb(var(--tag-border-color));
//   display: inline-block;
//   &:before {
//     content: "#";
//     margin-right: 0.25rem;
//     background-color: rgba(var(--tag-border-color), 0.35);
//     padding: 0 0.3rem;
//     border-radius: rgba(var(--prefix-border-radius));
//     margin-left: -5px;
//   }

//   &:hover {
//     background: transparent;
//     border-color: rgb(var(--tag-border-hover-color));
//   }
// }

// redesign prefixes
.threadTitle--prefixGroup {
  display: inline-flex;
  gap: 3px;
  border-radius: var(--prefix-border-radius);
}

// .discussionListItem .prefix,
// .searchResult .prefix,
// .discussionListItem .contestInfoBadge,
// .chosen-container .prefix,
// .Alert .prefix,
// .titleBar .prefix {
.prefix {
  font-weight: 600 !important;
  border-radius: var(--prefix-border-radius);
  position: relative;
  // for remove slash corners in thread
  overflow: hidden;
  display: inline-flex;
  align-items: baseline;
  // padding-left: 9px;
  // padding-right: 8px;
  padding-left: 9px;
  padding-right: 7px;

  &:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400 !important;
    margin-right: 0.25rem;
  }

  &:after {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
    background: currentColor;
  }

  &.general,
  &.bases_zabugor {
    background: rgba(var(--prefix-general-color), 0.1);
    color: rgb(var(--prefix-general-color));
  }

  &.icon {
    &.upgrade_contest {
      padding-left: 10px;
      padding-right: 4px;
    }

    &.ultra_fast_contest {
      padding-left: 9px;
      padding-right: 15px;
    }

    &.fast_contest {
      padding-left: 9px;
      padding-right: 14px;
    }
  }

  &.market {
    background: rgba(var(--prefix-market-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-market-color));
    &:before {
      content: "\f07a"; // cart-shopping
    }
  }

  &.nomarket {
    background: rgba(var(--prefix-nomarket-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-nomarket-color));
    &:before {
      @include svg-icon;
      // fill is color (octicon:shield-slash-16)
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 16 16'%3E%3Cpath fill='rgb(204, 83, 83)' d='M8.533.133a1.75 1.75 0 0 0-1.066 0l-2.091.67a.75.75 0 0 0 .457 1.428l2.09-.67a.25.25 0 0 1 .153 0l5.25 1.68a.25.25 0 0 1 .174.239V7q0 .35-.025.694a.75.75 0 1 0 1.495.112Q15 7.401 15 7V3.48a1.75 1.75 0 0 0-1.217-1.667zM1 2.857l-.69-.5a.75.75 0 1 1 .88-1.214l14.5 10.5a.75.75 0 1 1-.88 1.214l-1.282-.928c-.995 1.397-2.553 2.624-4.864 3.608c-.425.181-.905.18-1.329 0c-2.447-1.042-4.049-2.356-5.032-3.855S1 8.566 1 7Zm1.5 1.086V7c0 1.358.275 2.666 1.057 3.86c.784 1.194 2.121 2.34 4.366 3.297c.05.02.106.02.153 0c2.127-.905 3.439-1.982 4.237-3.108Z'/%3E%3C/svg%3E");
    }
  }

  &.safe_deal:before {
    @include svg-icon;
    // fill is color (ph:vault-bold)
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'%3E%3Cpath fill='rgb(206, 206, 206)' d='M216 36H40a20 20 0 0 0-20 20v136a20 20 0 0 0 20 20h12v12a12 12 0 0 0 24 0v-12h104v12a12 12 0 0 0 24 0v-12h12a20 20 0 0 0 20-20V56a20 20 0 0 0-20-20M44 188V60h168v52h-21.68a44 44 0 1 0 0 24H212v52Zm124-64a20 20 0 1 1-20-20a20 20 0 0 1 20 20'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' fill='rgb(206, 206, 206)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.89998 20H6.59998C5.99998 20 5.59998 20.4 5.59998 21C5.59998 21.6 5.99998 22 6.59998 22H8.89998C9.49998 22 9.89998 21.6 9.89998 21C9.89998 20.4 9.49998 20 8.89998 20Z'%3E%3C/path%3E%3Cpath d='M17.4 20H15.1C14.5 20 14.1 20.4 14.1 21C14.1 21.6 14.5 22 15.1 22H17.4C18 22 18.4 21.6 18.4 21C18.4 20.4 18 20 17.4 20Z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.6 2H5.4C3.5 2 2 3.5 2 5.4V15.3C2 17.2 3.5 18.7 5.4 18.7H18.6C20.5 18.7 22 17.2 22 15.3V5.4C22 3.5 20.5 2 18.6 2ZM8.89961 7C7.09961 7 5.59961 8.5 5.59961 10.4C5.59961 12.2 7.09961 13.7 8.89961 13.7C10.6996 13.7 12.1996 12.2 12.1996 10.4C12.1996 8.5 10.6996 7 8.89961 7ZM8.89961 11.7C8.19961 11.7 7.59961 11.1 7.59961 10.4C7.59961 9.6 8.19961 9 8.89961 9C9.59961 9 10.1996 9.6 10.1996 10.3C10.1996 11.1 9.59961 11.7 8.89961 11.7ZM16.7002 6.09998C16.7002 5.49998 17.1002 5.09998 17.7002 5.09998C18.3002 5.09998 18.7002 5.49998 18.7002 6.09998V14.6C18.7002 15.2 18.3002 15.6 17.7002 15.6C17.1002 15.6 16.7002 15.2 16.7002 14.6V6.09998Z'%3E%3C/path%3E%3C/svg%3E");
  }

  &.appeal:before {
    content: "\f0e3"; // gavel
  }

  &.important {
    background: rgba(var(--prefix-important-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-important-color), 0.8);
    font-weight: 800 !important;
    text-transform: uppercase;
    // background-image: url("data:image/svg+xml,%3Csvg opacity='0.15' width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_175_69)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5371 51.8461C22.9532 56.246 29.21 58.7535 35.8828 58.7535C45.8058 58.7535 54.8137 53.1919 61.4984 44.1334C58.6759 40.3098 55.4406 37.1071 51.8933 34.6858L46.1979 37.529C47.422 39.4334 48.135 41.7002 48.135 44.1334C48.135 50.8924 42.6506 56.3708 35.8828 56.3708C30.6242 56.3708 26.141 53.0612 24.403 48.4146L17.5371 51.8431V51.8461ZM31.667 44.79C31.8036 45.6783 32.2196 46.5043 32.8643 47.149C33.6635 47.9482 34.7508 48.3968 35.8828 48.3938C38.2387 48.3938 40.1491 46.4864 40.1491 44.1334C40.1491 42.9777 39.6886 41.929 38.9399 41.1595L31.6699 44.79H31.667Z' fill='%23ff4f4f'/%3E%3Cpath d='M19.0882 44.038L60.6014 24.082L51.4776 5.10352L46.7656 21.8746L41.103 10.0918L36.3881 26.8628L30.7254 15.08L26.0105 31.8511L20.3479 20.0682L15.633 36.8393L9.97035 25.0565L2.36768 52.0774L12.7452 47.0891L19.0882 44.0409V44.038Z' fill='%23ff4f4f'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_175_69'%3E%3Crect width='59.1279' height='53.6495' fill='white' transform='translate(2.36719 5.10376)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    // background-position: left center;
    // background-repeat: no-repeat;
    &:before {
      content: "\f2f7"; // shield-check
      font-weight: 900 !important;
    }
  }

  &.ts_buy {
    background: rgba(var(--prefix-buy-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-buy-color));
    &:before {
      content: "\f290"; // shopping-bag
    }
    &.bases_pref:before {
      content: "\f1c0"; // database
    }
  }

  &.ts_mass_buy {
    background: rgba(var(--prefix-massbuy-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-massbuy-color));
    padding-left: 10px;
    &:before {
      content: "\f847"; // bags-shopping
    }
  }

  &.ts_sell {
    background: rgba(var(--prefix-sell-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-sell-color));
    &:before {
      content: "\f07a"; // cart-shopping
    }
  }

  &.shop_pref {
    background: rgba(var(--prefix-shop-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-shop-color));
    &:before {
      content: "\f54e"; // store
    }
  }

  &.ts_exchange {
    background: rgba(var(--prefix-exchange-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-exchange-color));
    &:before {
      content: "\f362"; // exchange-alt
    }
  }

  // proxy
  &.proxySocks4 {
    background: rgba(var(--prefix-socks4-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-socks4-color));
    &:before {
      content: "\f7c0"; // satellite-dish
    }
  }

  &.proxySocks5 {
    &:before {
      content: "\f7bf"; // satellite
    }
  }

  // twitter
  &.prefixRoyalBlue {
    background: rgba(var(--prefix-royalblue-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-royalblue-color));
  }

  // complaint waiting
  &.prefixYellow {
    background: rgba(var(--prefix-yellow-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-yellow-color));

    &:before {
      content: "\f017"; // clock
    }
  }

  &.pref_vk {
    background: rgba(var(--prefix-vk-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-vk-color));

    &:before {
      @include svg-icon;
      width: 1.1em;
      height: 1.1em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(83, 150, 225)' fill-rule='evenodd' d='M23.45 5.948c.166-.546 0-.948-.795-.948H20.03c-.668 0-.976.347-1.143.73c0 0-1.335 3.196-3.226 5.272c-.612.602-.89.793-1.224.793c-.167 0-.418-.191-.418-.738V5.948c0-.656-.184-.948-.74-.948H9.151c-.417 0-.668.304-.668.593c0 .621.946.765 1.043 2.513v3.798c0 .833-.153.984-.487.984c-.89 0-3.055-3.211-4.34-6.885C4.45 5.288 4.198 5 3.527 5H.9c-.75 0-.9.347-.9.73c0 .682.89 4.07 4.145 8.551C6.315 17.341 9.37 19 12.153 19c1.669 0 1.875-.368 1.875-1.003v-2.313c0-.737.158-.884.687-.884c.39 0 1.057.192 2.615 1.667C19.11 18.216 19.403 19 20.405 19h2.625c.75 0 1.126-.368.91-1.096c-.238-.724-1.088-1.775-2.215-3.022c-.612-.71-1.53-1.475-1.809-1.858c-.389-.491-.278-.71 0-1.147c0 0 3.2-4.426 3.533-5.929' clip-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  &.pref_steam {
    background: rgba(var(--prefix-steam-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-steam-color));
    padding-left: 8px;
    &:before {
      @include svg-icon;
      width: 1.1em;
      height: 1.1em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(124, 149, 191)' d='M12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10c-4.6 0-8.45-3.08-9.64-7.27l3.83 1.58a2.84 2.84 0 0 0 2.78 2.27c1.56 0 2.83-1.27 2.83-2.83v-.13l3.4-2.43h.08c2.08 0 3.77-1.69 3.77-3.77s-1.69-3.77-3.77-3.77s-3.78 1.69-3.78 3.77v.05l-2.37 3.46l-.16-.01c-.59 0-1.14.18-1.59.49L2 11.2C2.43 6.05 6.73 2 12 2M8.28 17.17c.8.33 1.72-.04 2.05-.84s-.05-1.71-.83-2.04l-1.28-.53c.49-.18 1.04-.19 1.56.03c.53.21.94.62 1.15 1.15c.22.52.22 1.1 0 1.62c-.43 1.08-1.7 1.6-2.78 1.15c-.5-.21-.88-.59-1.09-1.04zm9.52-7.75c0 1.39-1.13 2.52-2.52 2.52a2.52 2.52 0 0 1-2.51-2.52a2.5 2.5 0 0 1 2.51-2.51a2.52 2.52 0 0 1 2.52 2.51m-4.4 0c0 1.04.84 1.89 1.89 1.89c1.04 0 1.88-.85 1.88-1.89s-.84-1.89-1.88-1.89c-1.05 0-1.89.85-1.89 1.89'/%3E%3C/svg%3E");
    }
  }

  &.pref_origin {
    background: rgba(var(--prefix-origin-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-origin-color));
    &:before {
      @include svg-icon;
      width: 1.1em;
      height: 1.1em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(185, 137, 75)' d='M12.588 3.11a8.8 8.8 0 0 1 3.417.919a8.8 8.8 0 0 1 2.706 2.094a9.1 9.1 0 0 1 1.715 2.963a8.65 8.65 0 0 1 .465 3.502a8.2 8.2 0 0 1-.307 1.848a9 9 0 0 1-.674 1.703a20 20 0 0 1-1.47 2.412a17.6 17.6 0 0 1-1.762 2.118a18.6 18.6 0 0 1-4.286 3.281l-.037.026a.2.2 0 0 1-.109.023a.3.3 0 0 1-.159-.097a.27.27 0 0 1-.062-.173q0-.045.012-.085a.2.2 0 0 1 .037-.062q.416-.59.686-1.235a5.4 5.4 0 0 0 .368-1.359a.12.12 0 0 0-.038-.085a.11.11 0 0 0-.085-.038a9 9 0 0 1-.795.062a5 5 0 0 1-.796-.037a8.82 8.82 0 0 1-6.123-3.013a9.1 9.1 0 0 1-1.715-2.963a8.7 8.7 0 0 1-.465-3.502a8.2 8.2 0 0 1 .306-1.848a8.6 8.6 0 0 1 .675-1.68q.66-1.296 1.469-2.436a18 18 0 0 1 1.76-2.119A18.8 18.8 0 0 1 11.609.05l.038-.025a.2.2 0 0 1 .11-.025a.3.3 0 0 1 .157.098a.26.26 0 0 1 .062.174a.2.2 0 0 1-.012.084a.2.2 0 0 1-.036.061a6.5 6.5 0 0 0-.687 1.237q-.269.649-.366 1.358q0 .05.036.086a.12.12 0 0 0 .085.037q.393-.05.795-.06q.407-.014.798.034zm-.807 12.367a3.32 3.32 0 0 0 2.521-.855a3.4 3.4 0 0 0 1.176-2.4a3.36 3.36 0 0 0-.856-2.535a3.3 3.3 0 0 0-2.4-1.162a3.36 3.36 0 0 0-2.534.855a3.3 3.3 0 0 0-1.164 2.4a3.38 3.38 0 0 0 .846 2.535q.942 1.09 2.411 1.162'/%3E%3C/svg%3E");
    }
  }

  &.pref_uplay {
    background: rgba(var(--prefix-uplay-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-uplay-color));
    padding-left: 8px;
    &:before {
      @include svg-icon;
      width: 1.1em;
      height: 1.1em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(46, 136, 164)' d='M23.561 11.988C23.301-.304 6.954-4.89.656 6.634c.282.206.661.477.943.672a11.8 11.8 0 0 0-.976 3.067a12 12 0 0 0-.184 2.071C.439 18.818 5.621 24 12.005 24s11.556-5.17 11.556-11.556v-.455zm-20.27 2.06c-.152 1.246-.054 1.636-.054 1.788l-.282.098c-.108-.206-.37-.932-.488-1.908C2.163 10.308 4.7 6.96 8.57 6.33c3.544-.52 6.937 1.68 7.728 4.758l-.282.098c-.087-.087-.228-.336-.77-.878c-4.281-4.281-11.002-2.32-11.956 3.74zm11.002 2.081a3.15 3.15 0 0 1-2.59 1.355a3.15 3.15 0 0 1-3.155-3.155a3.16 3.16 0 0 1 2.927-3.144c1.018-.043 1.972.51 2.416 1.398a2.58 2.58 0 0 1-.455 2.95c.293.205.575.4.856.595zm6.58.12c-1.669 3.782-5.106 5.766-8.77 5.712c-7.034-.347-9.083-8.466-4.38-11.393l.207.206c-.076.108-.358.325-.791 1.182c-.51 1.041-.672 2.081-.607 2.732c.369 5.67 8.314 6.83 11.045 1.214C21.057 8.217 11.822.401 3.626 6.374l-.184-.184C5.599 2.808 9.816 1.3 13.837 2.309c6.147 1.55 9.453 7.956 7.035 13.94z'/%3E%3C/svg%3E");
    }
  }

  &.checked,
  &.undetected,
  &.bases_myr {
    background: rgba(var(--prefix-checked-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-checked-color));
    &:before {
      content: "\f2f7"; // shield-check
    }
  }

  // code / design newbie
  &.newbie {
    background: rgba(var(--prefix-newbie-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-newbie-color));
    &:before {
      content: "\f793"; // dumpster
    }
  }

  // code / design junior
  &.design.junior {
    background: rgba(var(--prefix-junior-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-junior-color));
    &:before {
      content: "\f188"; // bug
    }
  }

  // code / design middle
  &.design.middle {
    background: rgba(var(--prefix-middle-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-middle-color));
    padding-left: 10px;
    &:before {
      content: "\f5a2"; // medal
    }
  }

  // code / design senior
  &.design.senior {
    background: rgba(var(--prefix-senior-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-senior-color));
    // padding-right: 8px;
    padding-left: 10px;
    &:before {
      content: "\f890"; // sparkles
    }
  }

  // code / design studio
  &.design_studio {
    background: rgba(var(--prefix-studio-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-studio-color));
    padding-left: 10px;
    padding-right: 6px;
    &:before {
      content: "\f6e1"; // flask-potion
    }
  }

  &.painter {
    background: rgba(var(--prefix-painter-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-painter-color));
    &:before {
      content: "\f53f"; // palette
    }
  }

  &.bases_loginpass {
    background: rgba(var(--prefix-loginpass-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-loginpass-color));
    padding-left: 10px;
    padding-right: 6px;
    &:before {
      content: "\f084"; // key
    }
  }

  &.bases_numberpass {
    background: rgba(var(--prefix-numberpass-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-numberpass-color));
    &:before {
      content: "\f023"; // lock
    }
  }

  &.bases_hash {
    background: rgba(var(--prefix-hash-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-hash-color));
    &:before {
      content: "\f292"; // hashtag
    }
  }

  &.bases_usa {
    background: rgba(var(--prefix-usa-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-usa-color));
    text-transform: uppercase;
    &:before {
      @include svg-icon;
      width: 1.1em;
      height: 1.1em;
      // ph:planet-bold
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'%3E%3Cpath fill='rgb(166, 79, 99)' d='M248.59 58.67c-6.31-10.87-23-21.06-66.16-9.71A95.94 95.94 0 0 0 32 128q0 3.6.26 7.14C.56 166.86 1.1 186.4 7.44 197.33C13.4 207.61 25.3 212 40.68 212c9.79 0 21-1.78 32.95-4.91A95.94 95.94 0 0 0 224 128c0-2.41-.09-4.79-.27-7.16c14.31-14.38 23.86-28.21 27-40c2.82-10.42.39-17.84-2.14-22.17M128 56a72.11 72.11 0 0 1 70.19 56C184 124.73 165 138.59 141.92 151.86c-21.74 12.49-43.55 22.36-63.09 28.65A72 72 0 0 1 128 56M28.19 185.29c-.61-1.07-.17-8.22 10.67-21.71A95.8 95.8 0 0 0 52.35 187c-17.23 2.61-23.5-.59-24.16-1.71M128 200a71.7 71.7 0 0 1-22.56-3.64a394 394 0 0 0 48.42-23.69A388 388 0 0 0 198.43 143A72.12 72.12 0 0 1 128 200m99.57-125.35c-1.28 4.78-4.81 10.87-10.39 17.8A95.7 95.7 0 0 0 203.68 69c15.83-2.37 23.17 0 24.15 1.71c.17.29.38 1.57-.26 3.94'/%3E%3C/svg%3E");
    }
  }

  &.bases_dump {
    background: rgba(var(--prefix-dump-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-dump-color));
    &:before {
      @include svg-icon;
      width: 1.1em;
      height: 1.1em;
      // mdi:dump-truck
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(173, 81, 81)' d='M20 8h-5v6H2v3h1a3 3 0 0 0 3 3a3 3 0 0 0 3-3h6a3 3 0 0 0 3 3a3 3 0 0 0 3-3h2v-5zM6 18.5A1.5 1.5 0 0 1 4.5 17A1.5 1.5 0 0 1 6 15.5A1.5 1.5 0 0 1 7.5 17A1.5 1.5 0 0 1 6 18.5m12 0a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5M17 12V9.5h2.5l1.96 2.5zm1-5h-4v6H3L1.57 8H1V6h12l1-1h4z'/%3E%3C/svg%3E");
    }
  }

  &.authorThread {
    background: rgba(
      var(--prefix-authorthread-color),
      var(--prefix-bg-opacity)
    );
    color: rgb(var(--prefix-authorthread-color));
    padding-right: 6px;
    &:before {
      content: "\f672"; // lightbulb-on
    }
  }

  // games
  &.csgo_cups {
    background: rgba(var(--prefix-tournament-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-tournament-color));
    &:before {
      content: "\f091"; // trophy
    }
  }

  &.csgo_updates {
    background: rgba(var(--prefix-gameupdate-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-gameupdate-color));
    &:before {
      content: "\f2f1"; // sync-alt
    }
  }

  // contests
  &.fast_contest {
    background: rgba(var(--prefix-fastcontest-color), var(--prefix-bg-opacity));
    color: rgb(var(--prefix-fastcontest-color));
    padding-left: 10px;
    &:before {
      font-weight: 600 !important;
    }
  }

  // only icon
  &.contest {
    align-items: center;
  }

  &.ultra_fast_contest {
    background: rgba(
      var(--prefix-ultrafastcontest-color),
      var(--prefix-bg-opacity)
    );
    color: rgb(var(--prefix-ultrafastcontest-color));
    padding-left: 10px;
    padding-right: 14px;
    &:before {
      font-weight: 600 !important;
    }
  }
}

.discussionListItem .threadNode {
  font-weight: 600 !important;
  border-radius: var(--prefix-border-radius);
  overflow: hidden;
  display: inline-flex;
  align-items: baseline;
  background: rgba(var(--prefix-general-color), 0.1);
  color: rgb(var(--prefix-general-color));

  &:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400 !important;
    margin-right: 0.25rem;
  }
}

.titleBar .prefix.icon {
  &.fast_contest,
  &.ultra_fast_contest {
    padding-left: 11px;
    padding-right: 5px;
  }
}
