:root {
  // labels
  --label-curator-color: 206, 206, 206;
  --label-author-color: 206, 206, 206;
  --label-responder-color: 255, 79, 79;
  --label-owner-conservation-color: 251, 159, 22;
  --label-bg-opacity: 0.1;

  // uniq badges
  --badge-test-color: 86, 175, 234;
  --badge-moderated-color: 120, 119, 202;
  --badge-draft-color: 206, 206, 206;
  --badge-declined-color: 174, 99, 99;
  --badge-bg-opacity: 0.25;

  // tags
  --tag-border-color: 54, 54, 54;
  --tag-border-hover-color: 74, 74, 74;
}
