:root {
  --lztup-primary-color: rgb(13, 175, 119);
  --lztup-additional-color: rgb(148, 148, 148);
  --lztup-bg-color: rgb(54, 54, 54);
  --lztup-bg-light-color: rgba(var(--lztup-bg-color), 0.75);
}
